body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff8800;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #8ab91d;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.speaker {
    margin-bottom: 20px;
}

.speaker h3 {
    margin: 0;
}

.speaker p {
    margin: 5px 0 0 0;
}

.venue img {
    width: 100%;
    height: auto;

    margin-top: 10px;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #2874f0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d47a1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2874f0;
    color: white;
    margin-top: 20px;
}
